#edit,#upload,#report {
    margin-top: 100px;
    text-align: center;
    flex-grow: 1;
}
img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h3 {
    padding-bottom: 30px;
}

.btn {
    margin-top: 5px;
}

.form-group input[type="text"] {
    max-width: 165px;
    margin: 0 auto;
}


